<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details for WB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>

<div class="section">
    <div class="box has-background-warning">
        <div class="columns is-centered"><img alt="logo" height="300" src="/wb-logo.png" width="300"/></div>
    </div>
</div>

<div class="column  has-background-danger">
    <div class="card large  has-background-warning">
        <h2 th:text="${store.name}"></h2>
        <div th:each="clerk: ${store.getClerkList()}">
            <div class="column is-one-third">
                <span th:text="${clerk.name}"></span><br>
                <hr>
                <div class="card buttons has-addons is-centered has-background-white-ter">


                    <form th:action="@{/{storeId}/edit/{clerkId}(clerkId=${clerk.id},storeId=${store.id})}" method="get">
                        <button class="button is-warning is-outlined is-rounded" type="submit">edit</button>
                    </form>
                    <br>
                    <form method="post"
                          th:action="@{/{storeId}/delete/{clerkId}(clerkId=${clerk.id},storeId=${store.id})}">
                        <button class="button is-default is-danger is-outlined" type="submit">
                            <span>Delete X</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="column is-three-third  has-background-warning">
            <div class="card large  has-background-warning">
                <h3>Sie möchten einen Clerk hinzufügen</h3>
                <form th:action="@{/{id}/details(id=${store.id})}" th:object="${clerk}" method="post">
                    <input placeholder="Clerkname" th:field="*{name}" type="text">
                    <input type="submit">
                </form>
            </div>
        </div>

    </div>
</div>
<div class="section">
    <div class="box has-background-warning">
        <div class="columns is-centered">
            <a th:href="@{/welcome}"> Home </a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">

            <p>
                <strong>Bulma for WB</strong>
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
            </p>
        </div>
    </div>
</footer>

</body>
</html>