<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit WB-Cler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>

<div class="section">
    <div class="box has-background-warning">
        <div class="columns is-centered"><img src="/wb-logo.png" height="300" width="300"/></div>
    </div>
</div>

<div class="column is-three-third has-background-warning">
    <div class="card large has-background-grey-lighter">
        <h2 th:text="${clerk.name}"></h2>
        <div class="card large">
            <h3>Sie möchten diesen Clerk editieren</h3>
            <form th:action="@{/{storeId}/edit/{clerkId}(clerkId=${clerkId},storeId=${storeId})}" th:object="${clerk}" method="post">
                <input placeholder="Name" type="text" th:field="*{name}">
                <input type="submit">
            </form>
        </div>

    </div>
</div>
<div class="section">
    <div class="box has-background-warning">
        <div class="columns is-centered">
            <a th:href="@{/welcome}"> Home </a>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">

            <p>
                <strong>Bulma for WB</strong>
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
            </p>
        </div>
    </div>
</footer>

</body>
</html>