<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home of WB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>


<div class="section">
    <div class="box has-background-warning">
        <div class="columns is-centered"><img alt="logo" height="300" src="/wb-logo.png" width="300"/></div>
    </div>
</div>

<div class="columns is-multiline">


    <div class="column is-one-third has-background-danger" th:each="store: ${storeList}">


        <div class="card large has-background-warning">

            <span th:text="${store.name}"></span><br>
            <span th:text="${store.id}"></span><br>
            <span th:text="${store.address}"></span>
            <div th:each="clerk: ${store.getClerkList()}">
                <div class="column is-one-third has-background-danger">
                    <div class="card  has-background-warning">
                        <span th:text="${clerk.name}"></span><br>
                    </div>
                </div>
            </div>
            <a th:href="@{/{id}/details(id=${store.id})}"> view details </a>
        </div>
    </div>

</div>
<!--            store hinzufügen-->
<div class="column is-three-third has-background-warning">
    <div class="card large  has-background-warning">
        <h3>Sie möchten einen Store hinzufügen</h3>
        <form th:action="@{/welcome}" th:object="${store}" method="post">
            <input placeholder="StoreName" type="text" th:field="*{name}">
            <input placeholder="Address" type="text" th:field="*{address}">
            <input type="submit">
        </form>
    </div>
</div>


<footer class="footer has-background-danger">
    <div class="container">
        <div class="content has-text-centered">

            <p>
                <strong>Bulma for WB</strong>
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
            </p>
        </div>
    </div>
</footer>
</body>
</html>